body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.btn {
    position: absolute;
    height: 12%;

    width: 16%;

    border-radius: 30px;
    right: 40%;
    /* Adjusting based on viewport width */
    top: 60%;
    /* Adjusting based on viewport height */
    background-color: cornflowerblue;
    cursor: pointer;
    border: 0;
    font-weight: bold;
}

#inputSection {
    margin-bottom: 2vh;

}

input {
    border-radius: 5px;
    border: none;
    height: 3vh;

    width: 50%;
    /* Adjusting based on viewport width */
    max-width: 200px;
    /* Limiting maximum width */
}

.btn:hover {
    background-color: rgb(11, 155, 155);
    transform: scale(1.2);
}

#qrcode {
    margin-top: 2vh;

}
